@model DiscussionForumTable

@{
    var speciality = ViewBag.speciality as List<SpecialtyVM>;
    var hospital = ViewBag.hospitals as List<string>;
    var experience = ViewBag.dExperiences as List<int?>;
    var languages = ViewBag.alllanguages as List<string>;
}

<link rel="stylesheet" type="text/css" href="/css/doctor/forum.css">


<header class="header">
    <div class="brand">Qure</div>
    <nav class="choices">
        <a asp-action="Queries" asp-controller="Doctor">User Queries</a>
        <a asp-action="Forum" asp-controller="Doctor">Doctors Forum</a>
        <a asp-action="" asp-controller="Doctor">Analytics</a>
        <a asp-action="MyAccount" asp-controller="Patient" class="account-link">
            <img src="https://i.imgur.com/69kGIrt.png" alt="My Account" class="account-icon">
        </a>


    </nav>
</header>


<h1>Create Discussion Group</h1>
<!-- Filtering form -->
<form asp-controller="Doctor" asp-action="CreateForum" method="post">
    <div class="row mt-4">
        <div class="col-md-2 align-self-end">
            <label>Choose Speciality:</label>
            <select asp-for="DoctorFilters.SpecilityName" class="form-select mb-3" name="DoctorFilters.SpecilityName">
                <option value="All"> All</option>
                @foreach (var item in speciality)
                {
                    <option value="@item.Id">
                        @item.Name
                    </option>

                }

            </select>
        </div>


        <div class="col-md-2 align-self-end">
            <label>Choose Hospital:</label>
            <select asp-for="DoctorFilters.CurrentHospital" class="form-select mb-3" name="DoctorFilters.CurrentHospital">
                <option value="All"> All</option>

                @foreach (var item in hospital)
                {
                    <option value="@item">
                        @item
                    </option>

                }

            </select>
        </div>
        <div class="col-md-2 align-self-end">
            <label>Choose Languages:</label>
            <select asp-for="DoctorFilters.Languages" class="form-select mb-3" name="DoctorFilters.Languages">
                <option value="All"> All</option>

                @foreach (var item in languages)
                {
                    <option value="@item">
                        @item
                    </option>

                }

            </select>
        </div>
        <div class="col-md-2 align-self-end">
            <label>Choose Years of Experiences:</label>
            <select asp-for="DoctorFilters.Experience" class="form-select mb-3" name="DoctorFilters.Experience">
                <option value="0"> All</option>

                @foreach (var item in experience)
                {
                    <option value="@item">
                        @item
                    </option>

                }

            </select>
        </div>
        <div class="col-md-2 align-self-center pt-3 text-end">
            <button type="submit" class="btn btn-primary px-3">Search</button>
        </div>
    </div>
</form>

<!-- Discussion group creation form -->
<form asp-controller="Doctor" asp-action="CreateForum" method="post">
    <div class="form-group">
        <label asp-for="ForumDTO.GroupTitle">Group Title:</label>
        <input asp-for="ForumDTO.GroupTitle" class="form-control" />
        <span asp-validation-for="ForumDTO.GroupTitle" class="text-danger"></span>
    </div>

    @*<div class="form-group">
        <label asp-for="ForumDTO.RelatedTags">Related Tags:</label>
        <select asp-for="ForumDTO.RelatedTags" name="ForumDTO.RelatedTags" class="form-control">
            <option value="">Select Tag</option>
           
        </select>
        <input asp-for="ForumDTO.RelatedTags" class="form-control" />
        <span asp-validation-for="ForumDTO.RelatedTags" class="text-danger"></span>
    </div>*@

    <div class="form-group">
        <label asp-for="ForumDTO.GroupAdmin">Group Admin:</label>
     
        <select id="doctorDropdown" name="ForumDTO.GroupAdmin"  asp-for="ForumDTO.GroupAdmin"  class="form-control">
            <option value="">Select a doctor</option>
            @foreach (var item in Model.DoctorFilters.Doctors)
            {
                <option value="@item.Id">@item.FirstName @item.LastName</option>
            }
        </select>
    </div>


    <div class="form-group">
        <label asp-for="ForumDTO.DiscussionTopic">Discussion Topic:</label>
        <input asp-for="ForumDTO.DiscussionTopic" class="form-control" />
        <span asp-validation-for="ForumDTO.DiscussionTopic" class="text-danger"></span>
    </div>

    <div class="row mt-4">
        <div class="col-md-2 align-self-end">
            <label>Choose Doctors:</label>
            <div class="checkbox-list">
                @foreach (var item in Model.DoctorFilters.Doctors)
                {
                    <div class="checkbox">
                        <input type="checkbox" id="member_@item.Id" name="ForumDTO.SelectedMembers" value="@item.Id" />
                        <label asp-for="ForumDTO.SelectedMembers" for="member_@item.Id">@item.FirstName @item.LastName</label>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- Create button -->
    <button type="submit" class="btn btn-primary px-3">Create</button>
</form>


   
   