@model List<QueryVM>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Questions</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <h1>Question List</h1>

    <table>
        <thead>
            <tr>
                <th>Votes</th>
                <th>Answers</th>
                <th>Question Title</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var question in Model)
            {
                <tr>
                    <td>@question.Votes</td>
                    <td>@question.AnswerCount</td>
                    <td><a asp-action="Answer" asp-controller="Doctor" asp-route-id="@question.Id">@question.QueryTitle</a></td>
                    <td>@question.QuestionTag</td>
                   @* @string.Join(", ", question.QuestionTag)*@
                </tr>
            }
        </tbody>
    </table>

</body>
</html>
