@model DiagnosisSystem.Models.QueryTableVM
@using DiagnosisSystem.Models;
<link rel="stylesheet" type="text/css" href="/css/Doctor/queries.css">

<title>Queries</title>

<body>

    <header class="header">
        <div class="brand">Qure</div>


        <nav class="choices">
            <a asp-action="Queries" asp-controller="Doctor">User Queries</a>
            <a asp-action="Forum" asp-controller="Doctor">Doctors Forum</a>
            <a asp-action="" asp-controller="Doctor">Analytics</a>
            <a asp-action="MyAccount" asp-controller="Patient" class="account-link">
                <img src="https://i.imgur.com/69kGIrt.png" alt="My Account" class="account-icon">
            </a>


        </nav>
    </header>


    <h1>Question List</h1>
<form>
    <div class="row mt-4">
        <div class="col-md-3">
            <label class="mt-2">Sort By:</label>
            <select asp-for="filters.Answered" name ="filters.Answered" class="form-control mb-3">
                <option value="false">Unanswered</option>
                <option value="true">Answered</option>
            </select>
        </div>
        <div class="col-md-2 align-self-center pt-3">
            <button type="submit" asp-controller="Doctor" asp-action="Queries" class="btn btn-primary px-3">Search</button>

        </div>
    </div>
</form>
    <table>
        <thead>
            <tr>
                <th>Votes</th>
                <th>Answers</th>
                <th>Question Title</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var question in Model.Queries)
            {
                <tr>
                    <td>@question.Votes</td>
                    <td>@question.AnswerCount</td>
                    <td><a asp-action="Answer" asp-controller="Doctor" asp-route-id="@question.Id">@question.QueryTitle</a></td>
                    <td>@question.QuestionTag</td>
                </tr>
            }
        </tbody>
    </table>

</body>

