@model List<DiscussionForumDTO>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="/css/Doctor/ViewForums.css">


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<br>
<div class="container mt-5">
    @foreach (var forum in Model)
    {
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="card-title mb-0">@forum.GroupTitle</h5>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th scope="row">Discussion Topic</th>
                            <td>@forum.DiscussionTopic</td>
                        </tr>
                        <tr>
                            <th scope="row">Group Admin</th>
                            <td>@forum.GroupAdmin</td>
                        </tr>
                        <tr>
                            <th scope="row">Members</th>
                            <td>
                                <ul class="list-unstyled mb-0">
                                    @foreach (var member in forum.SelectedMembers)
                                    {
                                        <li>@member</li>
                                    }
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a asp-controller="Doctor" asp-action="Forum" asp-route-ForumId="@forum.Id" class="btn btn-primary mt-2">Enroll</a>
            </div>
        </div>
    }
</div>
