@model List<DiscussionForumDTO>

@foreach (var forum in Model)
{
    <p>Group Title: @forum.GroupTitle</p>
    <p>Discussion Topic: @forum.DiscussionTopic</p>
    <p>GroupAdmin: @forum.GroupAdmin</p>
    <p>Members:</p>
    @foreach (var member in forum.SelectedMembers)
    {
        <p>@member</p>
    }
    <a asp-controller="Doctor" asp-action="Forum" asp-route-ForumId="@forum.Id" class="btn btn-primary">Enroll</a>
}
