@model EditProfileVM
<link rel="stylesheet" type="text/css" href="/css/Patient/MyAccount.css">


<div class="navbar">
    <div class="nav-option" id="myAccount">My Account</div>
    <div class="nav-option" id="myQueries">My Queries</div>
    <div class="nav-option" id="contactUs">Contact Us</div>
    <div class="selector"></div>
</div>

<div class="myaccountcontainer">
    <h1 class="section-title">My Account Information</h1>

    <div class="info-item">
        <span class="info-label">Full Name:</span>
        <span class="info-value">@Model.FirstName @Model.LastName</span>
    </div>

    <div class="info-item">
        <span class="info-label">Email:</span>
        <span class="info-value">@Model.Email</span>
    </div>

    <div class="info-item">
        <span class="info-label">Gender:</span>
        <span class="info-value">@Model.Gender</span>
    </div>

    <div class="info-item">
        <span class="info-label">Telephone:</span>
        <span class="info-value">@Model.Telephone</span>
    </div>
</div>


<header class="header">
    <div class="brand">Qure</div>

    <nav class="choices">
        <a asp-action="Queries" asp-controller="Patient">User Queries</a>
        <a asp-action="" asp-controller="Patient">Paid consultancy</a>
        <a asp-action="" asp-controller="Patient">Analytics</a>
        <a asp-action="MyAccount" asp-controller="Patient" class="account-link">
            <img src="https://i.imgur.com/mFIq1e0.png" alt="My Account" class="account-icon">
        </a>

    </nav>
</header>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function () {
    $(".nav-option").click(function () {
        var index = $(this).index();
        var widthSum = 0;

        // Calculate the total width of all options before the clicked one
        for (var i = 0; i < index; i++) {
            widthSum += $(".nav-option").eq(i).outerWidth(true);
        }

        // Calculate the left position for the selector
        var leftPosition = widthSum + ($(this).outerWidth(true) - $(".selector").outerWidth()) / 2;

        $(".nav-option").removeClass("selected");
        $(this).addClass("selected");
        $(".selector").css("left", leftPosition + "px");
    });

    // Initial positioning of selector
    var initialPosition = $(".nav-option.selected").position().left;
    $(".selector").css("left", initialPosition + "px");
});


</script>
