@model List<AccountDetails>

<link rel="stylesheet" type="text/css" href="/css/Admin/doctors.css">
<script src="~/js/Admin/doctors.js"></script>
@Html.Partial("shared.cshtml")

<br>
<br>

<h1>Registrated Doctors</h1>

    <table>

        <thead>
            <tr>
                <th>Name</th>
                <th>Specialty</th>
                <th>Current Hospital</th>
                <th>Email</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.FirstName @user.LastName</td>
                <td>@user.Speciality</td>
                    <td>@user.CurrentHospital</td>
                    <td>@user.Email</td>
                    <td>@user.Gender</td>
                    
                </tr>
            }
        </tbody>
    </table>




