@model List<DoctorRegisterVM>

<link rel="stylesheet" type="text/css" href="/css/Admin/doctors.css">

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Specialty</th>
            <th>Current Hospital</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName @user.LastName</td>
                <td>@user.Specialty</td>
                <td>@user.CurrentHospital</td>
                <td>@user.Email</td>
                <td>@user.Gender</td>
                <td class="action-column">
                    <!-- Action buttons -->
                    <a asp-action="Approve" asp-route-userId="@user.UserID">Approve</a>
                    <a asp-action="Reject" asp-route-userId="@user.UserID">Reject</a>
                </td>
            </tr>
        }
    </tbody>
</table>
