@model Stats

<link rel="stylesheet" type="text/css" href="/css/Admin/Index.css">
<partial>
    @Html.Partial("shared.cshtml", Model.UserName);
</partial>



    <div class="content">

        <div class="stats-container">
            <div class="stat-box">
                <h1>Pending Requests</h1>
                <i class="fa-solid fa-bell"></i>
                <p><a asp-action="Requests" asp-controller="Admin">@Model.numOfIRequests</a></p>
            </div>

            <div class="stat-box">
                <h1>Number of Doctors</h1>
                <p><a asp-action="Doctors" asp-controller="Admin">@Model.numOfDoctors</a></p>
            </div>
            <!--Action name is wrong, should be edited to present list of XXX-->
            <div class="stat-box">
                <h1>Number of Patients</h1>
                <p><a asp-action="Patients" asp-controller="Admin">@Model.numOfPatients</a></p>
            </div>

            <div class="stat-box">
                <h1>Number of Admins</h1>
                <p><a asp-action="Admins" asp-controller="Admin">@Model.numOfAdmins</a></p>
              
            </div>
        </div>
    </div>
</div>


