@model List<RegisterVM>

<link rel="stylesheet" type="text/css" href="/css/Admin/doctors.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="~/js/Admin/RequestModal.js"></script>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br>
<br>
<h1>Doctors Pending Registrations</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Specialty</th>
            <th>Current Hospital</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName @user.LastName</td>
                <td>@user.Speciality</td>
                <td>@user.CurrentHospital</td>
                <td>@user.Email</td>
                <td>@user.Gender</td>
                <td class="action-column">
                    <a asp-action="Approve" asp-route-userId="@user.UserID" class="b approve-form">Approve</a>
                    <a asp-action="Reject" asp-route-userId="@user.UserID" class="b reject-form">Reject</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Approve Modal -->
<div class="modal fade" id="ApproveModal" tabindex="-1" role="dialog" aria-labelledby="ApproveModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ApproveModalLabel">Approved</h5>
            </div>
            <div class="modal-body">
                Account has been approved.
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-primary" id="continueButton">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- Reject Modal -->
<div class="modal fade" id="RejectModal" tabindex="-1" role="dialog" aria-labelledby="RejectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="RejectModalLabel">Account deleted</h5>
            </div>
            <div class="modal-body">
                Account has been deleted.
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-primary" id="continueButton">Ok</button>
            </div>
        </div>
    </div>
</div>
