@model List<DoctorRegisterVM>

#include virtual="views/admin/shared.html"

<link rel="stylesheet" type="text/css" href="/css/Admin/doctors.css">
<script src="~/js/Admin/doctors.js"></script>
@Html.Partial("shared.cshtml")


<h1>Doctors Pending Registrations</h1>

<table>

    <thead>
        <tr>
            <th>Name</th>
            <th>Specialty</th>
            <th>Current Hospital</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName @user.LastName</td>
                <td>@user.Specialty</td>
                <td>@user.CurrentHospital</td>
                <td>@user.Email</td>
                <td>@user.Gender</td>
                <td class="action-column">
                    <a asp-action="Approve" asp-route-userId="@user.UserID" class="b">Approve</a>
                    <a asp-action="Reject" asp-route-userId="@user.UserID" class="b">Reject</a>
                </td>
            </tr>
        }
    </tbody>
</table>




<!-- -->